@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.logout {
  display: block;
  color: blue;
  width: 100%;
  text-align: end;
}

.logout:hover {
  color: rgb(106, 26, 180);
  transition: 2ms;
}

.items {
  /* border: 1px black solid; */
  padding: 20px;
  background-color: lightblue;
  width: 50%;
  height: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no {
   visibility: collapse;
}

.nama {
  border: 2x solid grey;
  border-radius: 6px;
}

.nama:hover {
  border: 2px solid black;
  transition: 2ms;
}

.jumlah {
  border: 2px solid grey;
  border-radius: 6px;
}

.jumlah:hover {
  border: 2px solid black;
  transition: 2ms;
}

.harga {
  border: 2px solid grey;
  border-radius: 6px;
}

.harga:hover {
  border: 2px solid black;
  transition: 2ms;
}

.tambah {
  color: black;
  background-color: yellow;
  border: 0px;
  border-radius: 8px;
  width: 50%;
  padding: 5px;
  margin: auto 25%;
}

.tambah:hover {
  background-color: rgb(241, 241, 5);
  transition: 2ms;
}

/* bagian tabel isi */
.isi {
  background-color: lightblue;
  height: 80%;
  width: 80%;
  margin: auto;
}

.no_barang {
  text-align: center;
  width: 1%;
}

.nama_barang {
  text-align: left;
  width: 40%;
  padding-left: 5px;
}

.jumlah_barang {
  text-align: center;
  width: 1%;
}

.harga_barang {
  text-align: left;
  width: 18%;
}

.gambar {
  text-align: center;
}

.isi_harga_barang {
  width: 50%;
  margin: auto;
}

.action1 {
  width: 6%;
  text-align: center;
}

.action2 {
  width: 4%;
  text-align: center;
}

/* HEADER */
.header {
  background-color: yellow;
  text-align: center;
}

.header td {
  padding: 0 1rem;
}
